.bg-container {
    height:100vh;
    padding: 0;
    background-color: aqua;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    

}

.counter-heading {
    text-align: center;
    font-size: 80px;
    font-family:  Georgia;
    font-weight: bold;
    padding-top: 40px;
    margin: 100px;
}

.counter-value {
    text-align: center;
    font-size: 80px;
    font-family:  monospace;
    color: red;
    padding-top:0px ;
}

.button {
    margin: 20px;
  border-radius: 7px;
  padding: 5px;
  border-width: 2px;
  border-color: black;
  background-color: #f1f5f8;
  color: darkslategray;
  
}